﻿<div id="sidebar">
    <DxMenu ItemClick="async (e) => await ItemClick.InvokeAsync(e)" Orientation="@Orientation.Vertical" CssClass="menu">
        <Items>
            <DxMenuItem Name="Counter" Text="Counter" CssClass="menu-item" IconCssClass="icon counter-icon"></DxMenuItem>
            <DxMenuItem Name="Weather" Text="Weather" CssClass="menu-item" IconCssClass="icon weather-icon"></DxMenuItem>                                    
            <DxMenuItem Name="Form" Text="Form" CssClass="menu-item" IconCssClass="icon form-icon"></DxMenuItem>                                    
        </Items>
    </DxMenu>
</div>

@code{
    [Parameter]
    public EventCallback<MenuItemClickEventArgs> ItemClick { get; set; }
}